.upcoming-events {
    padding: 20px;
    /* background-color: #fff; */
    border-radius: 10px;
    margin: 20px auto;
    width: 80%;
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4), 0 0 10px rgba(255, 255, 255, 0.4);
    align-items:center
  }
  
  .upcoming-events h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #FFF;
  }
  
  .events-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .event-card {
    display: flex;
    /* background-color: #f9f9f9; */
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .event-image img {
    width: 150px;
    height: 150px;
    object-fit: cover;
  }
  
  .event-details {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .event-details h3 {
    margin: 0;
    color: #333;
  }
  
  .event-details p {
    margin: 5px 0;
    color: #666;
  }
  