/* EventsByCategories.css */

.container {
    display: flex;
    flex-direction: column;
    padding: 16px;
  }
  
  .header-box {
    background-color: #e0e0e0;
    padding: 16px;
    margin-bottom: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    box-sizing: border-box; /* Ensure padding is included in the width calculation */
  }
  
  
  .categories-container {
    min-width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:1rem;
  }
  
  .card {
    background-color: #f0f0f0;
    width: 100%; /* Two cards per row, with gap */
    margin: 8px 0; /* Vertically centers the cards when there are only two */
    /* padding: 16px; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-size: cover;
    background-position: center;
    object-fit: cover;
    object-position: center;
    border-radius: 2rem;
    opacity: 1;
  }
  
  @media (max-width: 425px) {
    .categories-container{
      grid-template-columns: repeat(1,1fr);
    }
  }
  
  
  /* @media (max-width: 480px) {
    .card {
      flex: 1 1 calc(100% - 32px);
    }
  } */
  