body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    position: relative;
  }
  
  .admin-login {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 20px;
  }
  
  .admin-login a {
    color: white;
    background-color: #F97053;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  
  .admin-login a:hover {
    background-color: #F97053;
  }
  
  .form-container {
    /* background: #fff; */
    padding: 20px;
    border-radius: 8px;
    margin: 1rem auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  form h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  form label {
    margin-bottom: 5px;
    color: #fff;
  }
  
  form input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  form button {
    padding: 10px;
    background: #28a745;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
  }
  
  form button:hover {
    background: #218838;
  }
  
  .link {
    color: #fff;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
  }
  